.icon,
.icon1__unChecked,
.icon1__checked {
    color: #0d9488;
    opacity: 0;
    transition: 300ms ease-in-out;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.icon {
    left: 100%;
    margin-left: 0.5rem;
}
.icon1__checked,
.icon1__unChecked {
    border: solid 1px #0d9488;
    right: 100%;
    margin-right: 0.5rem;
    border-radius: 5px;
}

.icon1__unChecked {
    background: white;
    color: white;
}

.listItem:hover .icon,
.listItem:hover .icon1__unChecked,
.listItem:hover .icon1__checked {
    opacity: 1;
}

.input {
    padding: 0;
}

.input:focus {
    box-shadow: none;
    border-bottom: solid 1px #0d9488;
}
.input:hover {
    box-shadow: none;
    border-bottom: solid 1px #0d9488;
}
