.icon {
    color: #0d9488;
    opacity: 0;
    transition: 300ms ease-in-out;
    margin-left: 0.5rem;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.listItem:hover .icon {
    opacity: 1;
}

.input {
    padding: 0;
}

.input:focus {
    box-shadow: none;
    border-bottom: solid 1px #0d9488;
}
.input:hover {
    box-shadow: none;
    border-bottom: solid 1px #0d9488;
}
