.icon {
    color: #0d9488;
    opacity: 0;
    transition: 300ms ease-in-out;
    margin-left: 0.5rem;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.listItem:hover .icon {
    opacity: 1;
}

.modal {
    width: 500px;
    height: 500px;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 50%;
}
